@import "../../../styles/mixins.scss";
.contact-socials {
  margin-bottom: 10%;
  width: 48vw;
  position: relative;
}

.socials-container {
  font-size: 4rem;
  font-weight: bold;
  position: relative;
}
@include rwd-range(400, 600) {
  .contact-socials {
    right: 50px;
    margin-top: -20%;
  }
}

@include desktop {
  .socials-container {
    left: 7vw;
  }
}
@include sDesktop {
  .socials-container {
    bottom: 150px;
  }
}

@include sPhone {
  .contact-socials {
    right: 50px;
  }
}

@include rwd(400px) {
  .socials-container {
    margin-top: 30%;
    right: 0px;
  }
}
@include rwd(600px) {
  .contact-socials {
    margin-top: 0%;
  }
}

@include sDesktop {
  .contact-socials {
    margin-top: 30%;
  }
}
@include desktop {
  .contact-socials {
    margin-top: 10%;
    right: 50px;
  }
}

@include xDesktop {
  .socials-container {
    left: 10vw;
  }
}

@include to-sDesktop {
  .socials-container {
    height: 30rem;
    top: 15%;
  }
}
