@import "../../../styles/mixins.scss";
.projects-icons {
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
}

@include phone {
  .projects-icons {
    max-width: 100%;
    max-height: 100%;
  }
}
@include tablet {
  .projects-icons {
    width: 30vw;
  }
}

@include phone {
  .project {
    display: flex;
    flex-direction: column;
    padding: 10vh 5vw 5vh 5vw;
  }
  .project-name {
    padding: 0;
  }
  .project-goTo {
    padding: 0;
  }
  .project-info {
    padding: 5%;
  }
}
@include tablet {
  .project {
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    padding: 10vh 10vw 5vh 10vw;
    width: 100vw;
    &-name {
      padding: 10%;
    }
    &-goTo {
      padding: 10%;
    }
    &-info {
      padding: 10%;
    }
  }
}

.project {
  display: grid;
  box-sizing: border-box;
  color: var(--text-black);
  scroll-snap-align: start;
  &-image {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-info {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-name {
    box-sizing: border-box;
    text-align: center;
  }
  &-goTo {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
}

@include to-xDesktop {
  .project-info {
    font-size: 1.5rem;
  }
}

.blur {
  filter: blur(20px);
  transform: scale(1.4);
  transition: all 0s;
}

.right {
  justify-self: flex-end;
}
