@import '../../variables.scss';
.hrefButton {
  cursor: pointer;
  border-radius: 50%;
  background-color: $color3;
  height: 5rem;
  width: 5rem;
  transition: all 0.5s;
  &:hover {
    background-color: $color2;
  }
  img {
    height: 100%;
    width: 100%;
    position: relative;
  }
}
