@import "../../_variables.scss";

.contact-socials {
  margin-bottom: 10%;
  width: 48vw;
  position: relative;
}

.socials-container {
  font-size: 4rem;
  font-weight: bold;
  position: relative;

}
@media screen and (min-width: 400px) and (max-width: 600px) {
  .contact-socials {
    right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .socials-container {
    left: 7vw;

  }
}
@media screen and (min-width:1000px) {
  .socials-container{
    bottom: 150px;

  }
}

@media only screen and (max-width: 400px) {
  .contact-socials {
    margin-top: 30%;
    right: 50px;
  }
}

@media only screen and (mix-width: 400px) {
  .socials-container {
    margin-top: 30%;
    right: 0px;
  }
}
@media only screen and (min-width: 600px) {
  .contact-socials {
    margin-top: 10%;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-socials {
    right: 50px;
  }
}

@media screen and (min-width: 3000px) {
  .socials-container {
    left: 10vw;
  }
}

@media only screen and (max-width: 1000px) {
  .socials-container {
    height: 30rem;
    top: 15%;
  }
}
