@import '../../variables.scss';

.link-image {
  height: 2.3rem;
  width: 2.3rem;
  align-self: center;
}

.perspective-line-vertical {
  transform: skew(0deg, -30deg) scaleY(1.333);
}
.perspective-line-horizontal {
  transform: skew(60deg, -30deg) scaleY(0.667);
}
.perspective-line {
  position: relative;
  overflow: hidden;
  display: block;
  width: fit-content;
  height: 4.5rem;
  z-index: 10;
}

.my-social {
  position: relative;
  margin: 0;
  display: flex;
  cursor: pointer;
  font-size: 2.5rem;
}

.perspective-move {
  // transform: translateY(-5rem);
  transition: transform 0.5s ease-in-out;
}


.social-ref {
  font-size: 0.8em;
  text-decoration: none;
  cursor: pointer;
  color: purple;
}
