@import '../../variables.scss';

.my-projects {
  // height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  width: auto;
  position: relative;
  scroll-snap-type: x mandatory;
  scroll-snap-type: y mandatory;

  overscroll-behavior: none;
  flex-wrap: nowrap;
  z-index: 3;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
