@import '../../variables.scss';
#resume-link {
  margin-bottom: 5rem;
}


#contact {
  display: flex;
  padding: 4vh 2vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  // background-color: $color1;
  // color: $text-black;
  // & input{
  //   color: $text-black;
  // }
  background-color: $color1;
  z-index: 3;
    position: relative;
}

@media only screen and (max-width: 1000px) {
  #contact {
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  #contact {
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  .contact-section {
    flex-direction: column;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  #contact {
    margin-top: 100px;
  }
}
