
.bubblesContainer{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: visible;
  &::-webkit-scrollbar {
    display: none;
  }
}
.front-page {
  width: 100vw;
  height: 100vh;
  // display: flex;
  align-items: center;
  &-con{
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }
  &-content{
    position: relative;;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: grid;
    // grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    color: var(--white);
    &__text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      width: 100%;
      height: 100%;
      &__inner{
        font-size-adjust: 0.5;
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
        span{
          font-family: 'Garamond', sans-serif;
        border-top: 0.2rem solid var(--white);

        }
      }
    }
  }
}
.front-page-color{
  position: absolute;
  background-color: var(--light-blue);
  width: 40%;
  height: 40%;
  &-left{
    top: 0;
    left: 0;
    &::after{
      content: '';
      position: absolute;
      top: 30%;
      left: 30%;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: var(--border-color);
    }
  }
  &-right{
    bottom: 0;
    right: 0;
  }
}
.front-page-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  perspective: 2px;
  animation: test 10s ease-in-out;
  animation-delay: 1s;
  z-index: 2;
}
@keyframes test{
  0% {
    transform: translateZ(0px);
  }
  100% {
    transform: translateZ(2000px)
  }
}
#front-page-image {
  width: 60vw;
}
.front-page-text {
  position: relative;
  left: 10vw;
  width: 40vw;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
}

.page-text {
  cursor: pointer;
  font-weight: bold;
  color: var(--text-black);
  width: fit-content;
}
.page-text-changed {
  transition: padding 0.5s;
  padding: 0 5vw;
}
.page-text-back {
  transition: padding 0.5s;
  padding: 0 0vw;
}

@media only screen and (max-width: 600px) {
  .page-text {
    font-size: 5em;
  }
}

@media only screen and (min-width: 600px) {
  .page-text {
    font-size: 3em;
  }
}

@media only screen and (max-width: 700px) {
  #front-page-image {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  #front-page-image {
    left: 20%;
  }
}

@media only screen and (min-width: 2000px) {
  .front-page-text {
    font-size: 1.5em;
  }
}


