@import "../../styles/mixins";
#resume-link {
  margin-bottom: 5rem;
}

#contact {
  display: flex;
  padding: 4vh 2vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--color1);
  z-index: 3;
  position: relative;
}

@include to-sDesktop {
  #contact {
    flex-direction: column;
    justify-content: space-between;
  }
}

@include to-tablet {
  .contact-section {
    flex-direction: column;
  }
}

@include rwd-range(400, 600) {
  #contact {
    margin-top: 100px;
  }
}
