@import '../../variables.scss';

.about-story {
  width: 97vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  font: inherit;
  gap: 3em;
}

@media screen and (max-width: 800px) {
  .about-story {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .about-story-text {
    width: 80%;
  }
}
@media screen and (min-width: 600px) {
  .about-story-text {
    width: 70%;
  }
}

.about-story-text {
  display: flex;
  height: 100%;
  text-align: left;
  font-size: 1.2em;
  flex-direction: column;
  align-items: flex-start;
  p{
    margin: 1rem 0;
  }
}

#about-header {
  font-size: 2.5em;
  margin-bottom: 5vh;

}

.about-header{
  font-size: 2.5em;
  margin-bottom: 5rem;
}


.about-story-skills {
  width: calc(100% - 0.6em);
  text-align: center;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  gap: 2em;
  row-gap: 1em;
  flex-wrap: wrap;
}
.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10%;
  // height: 25rem;
  width: 60%;
  aspect-ratio: 1;
}

.skills-image {
  // clip-path: polygon(50% 0, 0 100%, 100% 100%);
  border-radius: 50%;
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 5;
  background-color: grey;
  transition: background-color 0.5s;
  border: 1px solid black;
  cursor: pointer;
  &-1 {
    left: -10%;
    bottom: 0;
  }
  &-2 {
    left: 60%;
    bottom: 0;
  }
  &-3 {
    bottom: 65%;
    left: 25%;
  }
  &-4 {
    transform: rotate(180deg);
    bottom: 25%;
    left: 25%;
    z-index: 7;
  }
  &-5 {
    left: -12.5%;
    bottom: 40%;
  }
  &-6 {
    left: 62.5%;
    bottom: 40%;
  }
  &-7 {
    bottom: -15%;
    left: 25%;
  }
  &-8{
    transform: rotate(180deg);
    bottom: 37.5%;
    left: 37.5%;
    z-index: 8;
    width: 25%;
    height: 25%;
  }
}
.above{
  z-index:10
}

@media screen and (max-width: 600px) {
  .mySkills-container {
    flex-direction: column;
    align-items: center;
  }
  #about-header{
    width: 70%;
  }
}
@media screen and (min-width: 600px) {
  .mySkills-container {
    height: 40rem;
    position: relative;
  }
  .svg-container {
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .mySkills-container {
    height: 65rem;
  }
  .svg-container {
    position: absolute;
    bottom: 27%;
    position: relative;
  }
  .displayedSkills {
    position: absolute;
    top:48%;
    margin-top: 5%;
  }
}

.mySkills-container{
  padding: 5%;
  background-color: $color3;
  border-radius: 2rem;
  border: 1px solid $border-color;
}

.aboutSkills-text{
  text-align: center;
  margin-bottom: 5%;
}

@media screen and (max-width: 1200px) {
  .aboutSkills-text{
  font-size: 0.8em;

  }
}
@media screen and (min-width: 1200px) {
  .aboutSkills-text{
  font-size: 1em;

  }
}

