@import '../../variables.scss';

.mySkill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4em;
    gap: 0.1em;
  }

  .mySkill-icon {
    width: 100%;
    aspect-ratio: 1;
  }
  .mySkill-name {
    font-size: 1em;
  }