.submit-button {
  background-color: rgb(242, 242, 246);
  color: rgb(4, 4, 4);
  border-radius: 30px;
  font-size: 1.4em;
  cursor: pointer;
}

.send-email {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

#send-email-result {
  font-size: 1.4em;
  height: 1.4em;
  text-align: center;
}

.email-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-size: 1.4em;
  outline: none;
}

.submit-div {
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

@media screen and (max-width: 1100px) {
  .send-email {
    margin: 0;
  }
  .email-input {
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .send-email {
    margin: 0;
    width: 70%;
    align-items: center;
  }
  .email-input {
    max-width: fit-content;
  }
}

.email-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  justify-content: flex-start;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  margin: 30px auto 0 auto;
  border: solid 2px #424242;
  border-top: solid 2px #1c89ff;
  border-radius: 50%;
  opacity: 0;
}

.check {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(-4px, 50px, 0);
  opacity: 0;
  span:nth-child(1) {
    display: block;
    width: 10px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
  }
  span:nth-child(2) {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg) translate3d(14px, -4px, 0);
    transform-origin: 100%;
  }
}

.loader.active {
  animation: loading 2s ease-in-out;
  animation-fill-mode: forwards;
}

.check.active {
  opacity: 1;
  transform: translate3d(-4px, 4px, 0);
  transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
  transition-delay: 0.2s;
}

@keyframes loading {
  30% {
    opacity: 1;
  }

  85% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #262626;
  }
  100% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #1c89ff;
  }
}

$button-width: 150px;
$spinner-width: $button-width/6;
$blue: #0076d3;
$btn-bg: #0076d3;
$text-light: #fefefe;

@import url(https://fonts.googleapis.com/css?family=Space+Mono);

@media (min-width: 780px) {
  .wrapper {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, [col] calc(100% / 2));
    grid-auto-rows: 120px;
    margin: 30px auto 40px;
  }
}
.email-button {
  display: inline-block;
  min-width: $button-width;
  margin: 20px auto;
  background-color: black;
  color: white;
  border: 1px solid #aaa;
  &:hover {
    color: red;
    background-color: black;
  }

  font-size: 1.2em;
  padding: 1em;
  border-radius: 3rem;
  text-align: center;
  position: relative;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  transition: border-radius linear 0.05s, width linear 0.05s, color 0.5s;

  &:focus {
    outline: 0;
  }

  &.animate {
    width: $button-width/2.2;
    height: $button-width/2.2;
    min-width: 0;
    border-radius: 50%;
    color: transparent;

    &:after {
      position: absolute;
      content: "";
      width: $spinner-width;
      height: $spinner-width;
      border: 4px solid $text-light;
      border-radius: 50%;
      border-left-color: transparent;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      animation: spin ease-in 2.5s forwards;
      animation-name: spin;
      -webkit-animation-name: spin;
      transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      animation-duration: 2.5s;
      -webkit-animation-duration: 2.5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }

    &.success:before {
      position: absolute;
      content: "";
      width: $spinner-width;
      height: $spinner-width/2;
      border: 4px solid $text-light;
      border-right: 0;
      border-top: 0;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
      transform: translate(-50%, -50%) rotate(0deg) scale(0);
      -webkit-animation: success ease-in 0.15s forwards;
      animation: success ease-in 0.15s forwards;
      animation-delay: 2.5s;
    }

    &.error {
      position: relative;
      -webkit-animation: vibrate ease-in 0.5s forwards;
      animation: vibrate ease-in 0.5s forwards;
      -webkit-animation-delay: 2.5s;
      animation-delay: 2.5s;

      &:before {
        color: #fff;
        position: absolute;
        content: "!";
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        -webkit-animation: error ease-in 0.5s forwards;
        animation: error ease-in 0.5s forwards;
        animation-delay: 2.5s;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  90% {
    transform: translate(-50%, -50%) rotate(1080deg) scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }

  98% {
    -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(0);
  }
}

@keyframes success {
  from {
    transform: translate(-50%, -50%) rotate(0) scale(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
}

@-webkit-keyframes success {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
}

@keyframes error {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    background-color: #f44336;
  }
}

@-webkit-keyframes error {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
    background-color: #f44336;
  }
}

@keyframes vibrate {
  0%,
  30%,
  60%,
  85%,
  100% {
    left: 0;
    background-color: #f44336;
  }
  10%,
  40%,
  90%,
  70% {
    left: -2px;
    background-color: #f44336;
  }
  20%,
  50%,
  80%,
  95% {
    left: 2px;
    background-color: #f44336;
  }
}
