$color1: #e4dfb7;
$color2: #f5ebc6;
$color3: #decda9;
$color4: #f5ddbc;
$color5: #73724d;
$border-color: #888;

$red: red;
$yellow: rgb(227, 227, 7);
$blue: rgb(17, 91, 249);
$green: rgb(58, 203, 80);
$purple: rgb(131, 6, 240);
$fuschia: #841c5f;
$black: black;
$white: white;
$text-black: #2f2f2f;
$light-blue: #4059ad;
$red-blue:linear-gradient(#f6483c, #0c8e9f);
$very-light-blue:#3498DB;
$green-blue:#0c8e9f;


$bg-light-creme: #faf6ec;
$bg-dark-gold: #b6a980;
$bg-sandstone: #756f5f;
$light-black: #131713;


$light-yellow:#ffea60;
$light-green:#a8e6cf;

$white2:#f0efeb;

$blue3:#55b1ff;