
.notOpened-menu{
  position: fixed;
  height: 100vh;
  width: 4vw;
  background-color: rgb(230, 152, 152);
}
.menu{
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: aquamarine;
  width: 18vw;
  z-index: 3;
  transition: margin 1s;
  margin: 0 0 0 -18vw;
}
.menu.menuOpen{
  margin: 0;
}
.menu-option{
  font-size: 25px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
  padding-right: 25%;
  display: flex;
  width: fit-content;
}
.homepage{
  position: relative;
  left: 4vw;
  width: 96vw;
  background-color: rgb(158, 203, 240);
  height: 100vh;
  display: grid;
  grid-template-columns: 48vw 48vw;
  grid-template-rows: 50vh 50vh;
}
#menu-close{
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
.short-info-about-me{
  font-size: 18px;
  margin-left: 8%;
}
.my-name{
  margin-right: 65%;
  font-size: 25px;
}
.my-intro{
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intro-photo{
  height: 100%;
  width: 100%;
}
.intro-photo-container{
 border: 15px solid rgb(158, 203, 240);
}
.about-me{
  width: 96vw;
  height: 100%;
  color: whitesmoke;
  display: flex;
  font: inherit;
}
.about-me-text{
  position: relative;
  left: 7%;
  font: inherit;
}
.about-me-img{
  padding: 2% 10%;
  width: 30%;
  height: 90%;
}
.submit-button{
  height: 66px;
  width: 120px;
  background-color: rgb(242, 242, 246);
  color: rgb(4, 4, 4);
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
}
img { transition: filter 1s linear; }
.blur { filter: blur(30px); }

.color-change {animation: change-color 1s linear infinite;}

@keyframes change-color{
  0% {background-color: white;}
  100%{background-color: black;}
}
.link-image{
  height: 60px;
  width: 60px;
}
.my-projects{
  position: relative;
  left: 4vw;
  width: 96vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 200px;
}

body{
  background-color: black;
  overflow-x: hidden;
  font-size: calc(1em + 1vw);
  color: whitesmoke;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  margin: 0px;
  height: 100%;
  width: 100%;
}



.front-page{
  width: 99vw;
  height: 99vh;

}
#front-page-image{
  position: absolute;
  left: 25vw;
  top: 0;
  height: 99vh;
  width: 80vw;
}
.front-page-text{
  position: absolute;
  left: 10vw;
  width: 40vw;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
}
.page-text{
  cursor: pointer;
  font-weight: bold;
  font-size: 200px;
  color: white;
}
.page-text-changed{
  transition: margin 0.5s;
  margin: 0 0 0 5vw;
}
.page-text-back{
  transition: margin 0.5s;
  margin: 0 0 0 0vw;
}
.go-back-button{
  background-color: black;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 30px;
  position: fixed;
  right: 5vw;
  top: 5vh;
}
.about-front{
  width: 96vw;
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font:inherit;
}
.about-front-text{
  position: relative;
  font-family: Garamond, serif;
  font-size: 100px;
  font-size: 3.222em;
  width: 76%;
  height: 30%;
  display: flex;
}
.about-story{
  width: 96vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font:inherit;
  height: 60vh;
  margin: 100px auto;
}
h1{
  font-family: Garamond, serif;
}
h3{
  font-family: Garamond, serif;
}
h4{
  font-family: Garamond, serif;
}
.about-story-text{
  position: relative;
  right: 6%;
  width: 60%;
  font-size: 1.2em;
}
#about-header{
  font-size: 2.5em;
  position: relative;
  left: 50vw;
  margin-bottom: 20vh;
}
#resume-link{
  font-size: 30px;
  color: red;
  text-decoration: none;
  position: relative;
}
#contact{
  display: flex;
}
.contact-socials{
  width: 50vw;
}
.projects-icons{
  width: 30vw;
  aspect-ratio: 0.9;
  cursor: pointer;
}

.socials-container{
  position: relative;
  left: 0%;
  top: 30%;
  font-size: 2.5em;
  font-weight: bold;
}
.perspective-line-vertical{
  transform: skew(0deg,-30deg) scaleY(1.333);
}
.perspective-line-horizontal{
  transform: skew(60deg,-30deg) scaleY(.667);
}
.perspective-line{
  position: relative;
  overflow: hidden;
  display: block;
  width: fit-content;
  height: 9vh;
}
.my-social{
  position: relative;
  margin: 0;
}
.send-email{
  width: 30vw;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}
#send-email-result{
  color: greenyellow;
  font-size: 1em;
}
.perspective-move{
  transform: translateY(-1.5em);
  transition: transform 1s ease-in-out;
}
.social-ref{
  font-size: 0.8em;
  text-decoration: none;
}
.email-input{
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-size: 30px;
}
@media only screen and (max-height:800px) {
  .perspective-line{
    height: 20vw;
  }
  .contact-socials{
    margin-bottom: 15vh;
  }

}
@media only screen and (max-width: 1000px) {
  #contact{
    flex-direction: column;
  }
  .contact-socials{
    margin-top: 30%;
    position: relative;
    left: 100px;
  }
  .socials-container{
    height: 500px;
    top:15%;
  }
  .email-input{
    width: 250px;
  }
  .link-image{
    width: 40px;
    height: 40px;
  }
  .perspective-line{
    height: 9vh;
  }
}
@media only screen and (min-width: 1000px) {
  .perspective-line{
    height: 90px;
  }
}
@media only screen and (min-width: 1400px) {
  .perspective-line{
    height: 100px;
  }
}
@media only screen and (min-width: 2000px) {
  .perspective-line{
    height: 150px;
  }
}
@media only screen and (min-width:100px){
  .page-text{
    font-size: 3em;
  }
}
/* @media only screen and (min-width:400px){
  .page-text{
    font-size: 80px;
  }
} */

@media only screen and (max-width:800px){
  #front-page-image{
    display: none;
  }
}

@media only screen and (min-width:800px){
  #front-page-image{
    left: 20%;
  }
}