.about-me {
  padding: 2vh 2vw;
  // height: 100%;
  display: flex;
  flex-direction: column;
  font: inherit;
  align-items: center;
  border-image-slice: 30;
  gap: 3em;
  padding-bottom: 5em;
}
.about-me-text {
  display: flex;
  flex-direction: column;
  font: inherit;
  align-items: center;
}
.about-me-img {
  padding: 2% 10%;
  width: 30%;
  height: 90%;
}

.about-story {
  width: 97vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  font: inherit;
  gap: 3em;
}

@media screen and (max-width: 800px) {
  .about-story {
    flex-direction: column;
  }
}
