@import "../../styles/mixins.scss";
.about-me {
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  font: inherit;
  align-items: center;
  border-image-slice: 30;
  gap: 3em;
  padding-bottom: 5em;
  border-image-source: linear-gradient(to right, var(--color1), var(--color2));
  font-size: 1.5rem;
  &-content {
    position: relative;
    z-index: 3;
  }
}
.about-me-text {
  display: flex;
  flex-direction: column;
  font: inherit;
  align-items: center;
  color: var(--text-black);
}
.about-me-img {
  padding: 2% 10%;
  width: 30%;
  height: 90%;
}

.about-story {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font: inherit;
  gap: 3em;
}

  @include to-tablet{
  .about-story {
    flex-direction: column;
  }
}
