@import "../../variables.scss";

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 60s;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-35rem * 10));
  }
}

@keyframes scrollReverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(35rem * 10));
  }
}
.slider {
  height: 8rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 3;
  color: #555;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;

  .slide-track {

    display: flex;
    width: calc(35rem * 40);
  }
  .slide-track.left {
    animation: scroll $animationSpeed linear infinite;
  }
  .slide-track.right {
    animation: scrollReverse $animationSpeed linear infinite;
  }

  .slide {
    height: 8rem;
    width: 35rem;
    box-sizing: border-box;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
  }
}
